<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Example Rails</title>
</head>
<!-- add a class to make each page uniquely identifiable within JavaScript/CSS -->
<body class="<%= controller_name %> <%= action_name %>">

<div id='container'>
  <%= yield %>
</div>

</body>
</html>
