
<%= smart_listing_controls_for(:asteroids) do %>
<div class="filter input-append">
    <%= text_field_tag :filter, '', class: "search", placeholder: "Search all NEOs", autocomplete: "off" %>
</div>
<% end%>
<% unless smart_listing.empty?%>
  

  
<table class="table">
  <thead>
    <tr>
      <th><%= smart_listing.sortable "Name", :name %></th>
      <th><%= smart_listing.sortable "NEO ID", :neo_reference_id %></th>
      <th><%= smart_listing.sortable "Potentially Hazardous?", :is_potentially_hazardous_asteroid %></th>
      <th><%= smart_listing.sortable "Estimated Diameter (m)", :estimated_diameter_min %></th>
      <th>Next Close Approach (CA) to Earth</th>
      <th>Relative Velocity at CA (km/s)</th>
    </tr>
  </thead>

  <tbody>
    <% smart_listing.collection.each do |asteroid| %>
        <tr class="asteroid" id=<%= 'asteroid-'+asteroid.id.to_s%>, role="button", data-toggle="collapse", data-parent="asteroid", class="expand-asteroid", href="#collapse<%= asteroid.id %>", aria-expanded="true" aria-controls="collapse<%= asteroid.id %>">
            <td><%= asteroid.name %></td>
            <td><%= asteroid.id %></td>
            <td><%= asteroid.is_potentially_hazardous_asteroid %></td>
            <td><%= asteroid.estimated_diameter_min.round(2) %> - <%= asteroid.estimated_diameter_max.round(2) %></td>
            <td><%= asteroid.next_earth_approach %></td>
            <td><%= asteroid.next_earth_vel %></td>
        </tr>
        <tr id='collapse<%= asteroid.id %>', class='collapse' aria-labelledby="collapse"<%= asteroid.id %>>
            <td class="collapse-cell" colspan="2"></td>
            <td class="collapse-cell">JPL web page:</td>
            <td class="collapse-cell"><%= link_to asteroid.nasa_jpl_url, asteroid.nasa_jpl_url %></td>
            <td class="collapse-cell"></td>
            <td class="collapse-cell"><%= link_to "Add to favorites", favorites_path + "/" + asteroid.id.to_s %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate %>
<% else%>
    <p class="warning">No records!</p>
<% end%>